.grid-col-12{
	display:grid;
	grid-template-columns:  repeat(12, 1fr);
}
.grid-rows-2{
	display:grid;
	grid-template-rows: 7em 2em;
}
.block-grid-3-23{
	grid-column: 3/23;
}
.flex-hcenter-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flex-wrap-sp{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex-hcenter-vcenter-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
header{
	grid-template-areas:
	"lg lg lg lg nw nw nw nw nw nw nw nw"
	"lg lg lg lg bk bk bk bk bk bk bk bk";
	
}

