.grid-12{
	display:grid;
	grid-template-columns:  repeat(12, 1fr);
}
.block-grid-3-23{
	grid-column: 3/23;
}
.flex-center-wrap{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flex-wrap-sp{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

