@import "normalize";
@import "layout.scss";
@import "header.scss";
@import "nav.scss";
$font:verdana;
$colBlue:#0095a6;
$colBlueBtnHover:#22a7c8;
$colP1:#444;
*{

 outline:none;

}
.blue{
	background: $colBlue;
	height: 25em;
	position: relative;
	font-family: $font;
	position:relative;
}
.circle-up{
	position:absolute;
	right:9em;
	top:0;
	background: url('../img/back-image-2.png');
	width: 207px;
	height: 107px;
}
.circle-down{
	position:absolute;
	left:7em;
	bottom:0;
	background: url('../img/back-image-1.png');
	width: 226px;
	height: 163px;
	z-index:1;
}
.wrap-h1{
	z-index:2;
	grid-column:1/13;
	h1{
		margin: 2.5em 2em;
		text-align: center;
		color:white;
		font-weight: 100;
		font-size: 2.3em;
		line-height: 1.5em;
	}
}
// prof-burn
.stress-title{
	grid-column: 4/10;
	h2{
		font-family: $font;
		font-weight: 100;
		font-size: 1.8em;
		color:$colBlue;
		margin: 2.5em 0 1.5em 0;
	}
}
.stress-img-left{
	font-family: $font;
	grid-column: 1/6;
}
.stress-text-right{
	font-family: $font;
	grid-column: 6/12;
	p{
		font-size: 1.2em;
		color:$colP1;
		margin: 0.75em 1em;
		line-height: 1.6em;
	}
}
.inwork{
	height: 30em;
}

.cabinet-btn{
	position:absolute;
	z-index: 3;
	top:1.5em;
	left:1.5em;
	padding:0 1em;
	border-radius: 1.7em;
	color:#eee;
	border: 1px solid #eaeaea;
	background: rgba(220, 220, 230, 0.5);
	p{
		margin:.4em;
	}
	a{
		text-decoration: none;
		color: white;
		transition: color 0.2s linear, background 0.2s linear;

	}
	a:hover{
		color:#fd9017;
	};

}
.cabinet-btn:hover{
	
	background: rgba(255,255,255,0.75);
	cursor:pointer;
};
//end prof-burn

// login
.login{
	margin: 1em 0;
	grid-column: 4/10;
	font-family: $font;
	fieldset{
		padding: 1em 5em 3em;
		color:$colBlue;
		border: 1px solid $colBlue;
		text-align: center;
	}
	input{
		border: 1px solid #ddd;
		border-radius: 3px;
		padding:0.5em;
		width: 25em;
	}
	p{
		margin:2em 0 0.5em 0;
	}
::-webkit-input-placeholder {color:#ddd;}
::-moz-placeholder          {color:#ddd;}
:-moz-placeholder           {color:#ddd;}
:-ms-input-placeholder      {color:#ddd;}
	
}
.buttons{
	margin:1.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-login{
	margin:1em 0
}

.wrong-login{
	color:red;
}
// end login
// cabinet
.cabinet{
	.title{
		grid-column: 1/13;
		h1{
			font-family: $font;
			font-weight: 100;
			color:$colBlue;
		}
	}
	.cont-1{
		grid-column: 2/12;
		table{
			margin:1em 0;	
		}
		.td-left{
			width: 20em;
			padding: 0.5em 0	em;
			color:$colBlue;
			font-size:0.8em;
			
		}
		.td-right{
			color:$colBlue;
			
		}
		
		
	}
	.cont-2{
		grid-column: 2/12;
		.btn-primary{
			margin: 2em 0 1em 0;
			background:$colBlue;
			border-color:$colBlue;
			padding: 0.3em 2em;
			font-size: 1.5em;

		}
		.btn-primary:hover{
			background:$colBlueBtnHover;
			border-color:$colBlue;
		}
		.btn-light{
			color:$colBlue;
			margin: 1em 0;
			border-color:rgba(0, 149, 166, 0.3);
			padding: 0.2em 2em;
			font-size: 1.1em;
		}
	}
}
// end cabinet
