@import "normalize";
@import "layout.scss";
@import "header.scss";
@import "nav.scss";
$font:verdana;
$colBlue:#0095a6;
$colP1:#444;
.blue{
	background: $colBlue;
	height: 25em;
	position: relative;
	font-family: $font;
}
.circle-up{
	position:absolute;
	right:9em;
	top:0;
	background: url('../img/back-image-2.png');
	width: 207px;
	height: 107px;
}
.circle-down{
	position:absolute;
	left:7em;
	bottom:0;
	background: url('../img/back-image-1.png');
	width: 226px;
	height: 163px;
	z-index:1;
}
.wrap-h1{
	z-index:2;
	grid-column:1/13;
	h1{
		margin: 2.5em 2em;
		text-align: center;
		color:white;
		font-weight: 100;
		font-size: 2.3em;
		line-height: 1.5em;
	}
}
.stress-title{
	grid-column: 4/10;
	h2{
		font-family: $font;
		font-weight: 100;
		font-size: 1.8em;
		color:$colBlue;
		margin: 2.5em 0 1.5em 0;
	}
	// grid-row:1/2;
}
.stress-img-left{
	font-family: $font;
	grid-column: 1/6;
}
.stress-text-right{
	font-family: $font;
	grid-column: 6/12;
	p{
		font-size: 1.2em;
		color:$colP1;
		margin: 0.75em 1em;
		line-height: 1.6em;
	}
}

